@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather&display=swap');

body {
  font-family: "Fira Sans", sans-serif;
  background: #fff;
  margin: auto;
  width: calc(min(100%, 768px));
}

h1 {
  font-size: 62px;
  text-align: center;
  padding: 24px;
}

#menu {
  background: #eee;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  width: 370px;
  margin: auto;
}

#search_button {
  display: block;
  padding: 8px 32px;
  margin: 8px auto;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

#acknowledgements {
  text-align: center;
  margin: 10px;
}

/* Results */

#results {
  padding-top: 32px;
}

article {
  display: flex;
  background-color: #f3f3f3;
  clear: both;
  height: 64px;
  margin: 4px 0px 4px 0px;
}
article:hover {
  background-color: #eee;
}

article index {
  flex: 0 0 128px;
  background: #ddd;
  line-height: 64px;
  text-align: center;
  overflow: hidden;
}

article .img_wrapper {
  position: relative;
  flex: 0 0 64px;
  text-align: center;
}

article img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 64px;
  max-height: 64px;
}

article icon {
  flex: 0 0 64px;
  text-align: center;
  font-size: 32px;
  line-height: 64px;
}

article a {
  flex: 1 1 auto;
  color: #000;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 64px;
  overflow: hidden;
}
article a[href]:hover title {
  text-decoration: underline;
}

article title {
  display: block;
  height: 40px;
  margin: 8px 8px 0px 8px;
}

article about {
  display: block;
  text-align: right;
  font-size: 0.8em;
  color: gray;
  margin-right: 4px;
}

/* Alphabet letter indices */

.letter article index {
  font-size: 64px;
  color: #333;
}

/* Periodic element indices */

.element article index:hover {
  cursor: pointer;
  text-decoration: underline;
}
article index.diatomic-nonmetal { background-color: rgba(255, 255, 0, 0.2); }
article index.polyatomic-nonmetal { background-color: rgba(255, 255, 0, 0.2); }
article index.noble-gas { background-color: rgba(255, 152, 0, 0.2); }
article index.alkali-metal { background-color: rgba(255, 0, 0, 0.2); }
article index.alkaline-earth-metal { background-color: rgba(64, 64, 255, 0.2); }
article index.metalloid { background-color: rgba(140, 190, 0, 0.2); }
article index.post-transition-metal { background-color: rgba(0, 255, 0, 0.2); }
article index.transition-metal { background-color: rgba(0, 128, 255, 0.2); }
article index.lanthanide { background-color: rgba(0, 204, 204, 0.2); }
article index.actinide { background-color: rgba(64, 255, 192, 0.2); }
.element article index number,
.element article index name,
.element article index category {
  display: block;
  margin-top: 2px;
  line-height: 10px;
  font-size: 10px;
}
.element article index symbol {
  display: block;
  line-height: 26px;
  font-size: 24px;
}

/* Mobile support */

@media (max-width: 760px) {
  article index {
    flex: 0 0 64px;
    font-size: 12px;
  }

  .element article index category {
    font-size: 6px;
  }
}
