@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather&display=swap');

body {
  font-family: "Fira Sans", sans-serif;
  background: #f9f9f9;
  margin: auto;
  width: calc(100% - 190px);
}

h1 {
  font-size: 62px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
#menu {
  background: #eaeaea;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  width: 370px;
  margin: auto;
}

#menu select {
  font-size: 16px;
  padding-left: 3px;
  font-family: Scada, serif;
  font-style: italic;
  border: none;
}

#search_button {
  display: block;
  padding: 5px 34px;
  margin: 6px auto;
  color: #fff;
  border: none;
  background-color: #000;
  cursor: pointer;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
}

/* Results */

#results {
  padding-top: 38px;
}

article {
  background-color: #f3f3f3;
  clear: both;
  height: 64px;
  margin: 4px 0px 4px 0px;
}
article index {
  background: #eaeaea;
  display: block;
  float: left;
  line-height: 64px;
  font-size: 13px;
  text-align: center;
  width: 128px;
  height: 100%;
}

article .img_wrapper {
  width: 64px;
  height: 64px;
  float: left;
  text-align: center;
  background-color: white;
}

article img {
  max-width: 64px;
  max-height: 64px;
}

article icon {
  display: block;
  float: left;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 32px;
  padding-top: 16px;
  margin-bottom: -16px;
}

article a {
  margin-left: 24px;
}
article title {
  font-family: Merriweather, serif;
  font-style: italic;
  font-weight: 700;
  display: inline;
  font-size: 16px;
  line-height: 64px;
}

article a {
  color: #000;
}

/* Periodic element indices */

article index.element:hover {
  cursor: pointer;
  text-decoration: underline;
}
article index.diatomic-nonmetal { background-color: rgba(255, 255, 0, 0.2); }
article index.polyatomic-nonmetal { background-color: rgba(255, 255, 0, 0.2); }
article index.noble-gas { background-color: rgba(255, 152, 0, 0.2); }
article index.alkali-metal { background-color: rgba(255, 0, 0, 0.2); }
article index.alkaline-earth-metal { background-color: rgba(64, 64, 255, 0.2); }
article index.metalloid { background-color: rgba(140, 190, 0, 0.2); }
article index.post-transition-metal { background-color: rgba(0, 255, 0, 0.2); }
article index.transition-metal { background-color: rgba(0, 128, 255, 0.2); }
article index.lanthanide { background-color: rgba(0, 204, 204, 0.2); }
article index.actinide { background-color: rgba(64, 255, 192, 0.2); }
article index.element number,
article index.element name,
article index.element category {
  display: block;
  margin-top: 2px;
  line-height: 10px;
  font-size: 10px;
}
article index.element symbol {
  display: block;
  line-height: 26px;
  font-size: 24px;
}

/* Mobile support */

@media (max-width: 760px) {
  body {
    width: 100%;
  }

  #menu {
    width: initial;
  }

  article index {
    font-size: 12px;
    width: 64px;
  }

  article title {
    font-size: 12px;
  }
}
